[package]
name = "{{ name }}-launcher"
version = "0.1.0"
edition = "2021"

[dependencies]
zip = { version = "2", default-features = false, features = ["deflate"] }

[build-dependencies]
winres = "0.1"

[profile.release]
opt-level = "s"
lto = true
strip = true
panic = "abort"
